[Desktop Entry]
Type=Application
Name=dynotiq
Comment=Systemdiagnose und Optimierung
Comment[en]=System diagnostics and tuning
Exec=dynotiq
Icon=dynotiq
Terminal=false
Categories=System;Settings;Monitor;
StartupNotify=true
StartupWMClass=dynotiq
